*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing:border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #809e79;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    max-width: 375px;
    background:#000;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,blue,0.1),5px 5px 15px rgba(0,0,0,0,2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;    
    border: 1px solid #fff;
}
form .display input{
    max-width: 100%;
    width: 100%;
    padding: 10px 35px;
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
    
}
form input.operator{
    color: #74ff33;
    background-color: rgb(37, 179, 160);
    
}
form input.number{
    color:rgb(255, 243, 226);
}